@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <img src="https://image.freepik.com/fotos-gratis/carros-da-frente-vermelhos-correndo-na-estrada_37416-46.jpg"/>
</div>
